.dropdown__menu {
    position: absolute;
    top: calc(17% + 5px);
    left: 250px;
    width: 250px;
    background: #fff;
    border-radius: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.dropdown__menu.active {
    opacity: 1;
    visibility: visible;
}

.menu__list-item {
    list-style: none;
    color: #111;
    font-size: 19px;
    font-weight: 500;
    margin: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.menu__list-item:hover {
    color: #4b99e3;
}