.contact__name-person {
    margin-top: 50px;
    color: #4b99e3;
    font-size: 21px;
}

.contact__number-person {
    margin-top: 25px;
    font-size: 19px;
    cursor: pointer;
}

.contact__link-person {
    color: #111;
    text-decoration: none;
}