.telephone-position {
    position: relative;
    right: 30px;
    margin-top: 15px;
}

.download-stores-container {
    margin-top: 20px;
}

.download-stores-icon {
    width: 130px;
    cursor: pointer;
}

.app-store-icon {
    width: 145px;
    position: relative;
    right: 7px;
}