.login-next-btn {
    width: 85%;
    height: 45px;
    border-radius: 10px;
    background: #4b99e3;
    margin-top: 7px;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 17px;
    cursor: pointer;
}

.login-next-btn:hover {
    background: none;
    color: #111;
    border: 1px solid #4b99e3;
}