.modal-login {
    width: 530px;
    height: 290px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 13px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 